<h1>
  <strong>
    <%= @desired_list.name %>
  </strong>
</h1>

<ul class="list-group">
  <% if @list_of_books != nil%>
    <%= render partial: 'book', collection: @list_of_books, locals: {search: false} %>
  <% end %>
</ul>
