<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">notSoGoodreads</a>
    </div>
    <% if logged_in? %>
      <u1 class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Favorites</a></li>
        <li><a href="#">To-Read</a></li>
        <li><a href="#">Read</a></li>
        <li><a href="#">Reading</a></li>
      </u1>

      <%= link_to "Sign out!", logout_path, method: :delete, class: "btn btn-lg btn-primary navbar-right", id: "logout-btn"%>
    <% end %>
  </div>
</nav>
